target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Local/generated artifacts ###
.DS_Store
**/.DS_Store
.m2repo/
node_modules/
**/src/main/frontend/generated/
**/src/main/frontend/generated-flow-imports*
**/src/main/frontend/index.html
**/src/main/frontend/index.ts
**/src/main/frontend/theme-generated.js
**/src/main/bundles/
**/ddl_*.sql

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
