<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">

        <labels>
            app = vendix
            service_name = %X{__service_name__}
            host = %X{__host__}
            instance = %X{__instance__}
            target_type = %X{__target_type__}
            target_id = %X{__target_id__}
        </labels>

        <structuredMetadata>
            level = %level
            thread = %thread
            logger = %logger
        </structuredMetadata>

        <message>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </message>

        <http>
            <url>${LOKI_URL:-http://localhost:3100/loki/api/v1/push}</url>
        </http>

        <batch>
            <maxItems>100</maxItems>
            <timeoutMs>500</timeoutMs>
        </batch>

    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>